body{
    background-image: url("4.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
form{
    color: orange;
    position: absolute;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    width: 300px;
}
input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
}
h1{
    color: rgba(81, 145, 241, 0.979);
    text-transform: uppercase;
}
h2,span .fa-user,span .fa-lock{
    color: orange;   
}
@media(max-width: 768px){
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    form,p,a{
        font-size: 14px;
    }
    .form-control{
        font-size: small;
    }
}
/*Sign Up*/
.input-container{
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
}
